/* BG */

#bg {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-backface-visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

#bg:before,
#bg:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#bg:before {
  -moz-transition: background-color 2.5s ease-in-out;
  -webkit-transition: background-color 2.5s ease-in-out;
  -ms-transition: background-color 2.5s ease-in-out;
  transition: background-color 2.5s ease-in-out;
  -moz-transition-delay: 0.75s;
  -webkit-transition-delay: 0.75s;
  -ms-transition-delay: 0.75s;
  transition-delay: 0.75s;
  background-size: auto, 256px 256px;
  background-position: center, center;
  background-repeat: no-repeat, repeat;
  z-index: 2;
}

#bg:after {
  -moz-transform: scale(1.125);
  -webkit-transform: scale(1.125);
  -ms-transform: scale(1.125);
  transform: scale(1.125);
  -moz-transition: -moz-transform 0.325s ease-in-out,
    -moz-filter 0.325s ease-in-out;
  -webkit-transition: -webkit-transform 0.325s ease-in-out,
    -webkit-filter 0.325s ease-in-out;
  -ms-transition: -ms-transform 0.325s ease-in-out,
    -ms-filter 0.325s ease-in-out;
  transition: transform 0.325s ease-in-out, filter 0.325s ease-in-out;
  background: #fbd741;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

body.is-article-visible #bg:after {
  -moz-transform: scale(1.0825);
  -webkit-transform: scale(1.0825);
  -ms-transform: scale(1.0825);
  transform: scale(1.0825);
  -moz-filter: blur(0.2rem);
  -webkit-filter: blur(0.2rem);
  -ms-filter: blur(0.2rem);
  filter: blur(0.2rem);
}

body.is-preload #bg:before {
  background-color: #fbd741;
}

#header .logo {
  width: 5.5rem;
  height: 5.5rem;
  line-height: 5.5rem;
  /*      border: solid 1px #000;
*/
  border-radius: 100%;
}
#header .logo .icon:before {
  font-size: rem;
}
#header .logo img {
  object-fit: cover;
  border-radius: 90%;
  max-width: 100%;
  max-height: auto;
}
#header .content {
  border-style: solid;
  border-color: #000;
  border-top-width: 1px;
  border-bottom-width: 1px;
  min-width: 80vw;
}

#works {
  overflow: scroll;
  max-height: 400px;
}
.porto {
  display: grid;
  grid-template-columns: auto;
}

.sosmed {
  margin-top: 5px;
}
@media only screen and (min-width: 1000px) {
  /* For mobile phones: */
  .porto {
    display: grid;
    grid-template-columns: auto auto;
  }
}
/*//nav*/

#header nav {
  border: none;
}

.hide {
  display: none;
}

.active {
  font-weight: bold;
}
